.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') CoffeeBot
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-nav', aria-controls='#navbar-nav')
    span.navbar-toggler-icon
  #navbar-nav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/') System Status
      li.nav-item
        a.nav-link(href='/order') Place Order
      li.nav-item
        a.nav-link(href='#') View Orders
