extends layout

block content
  .container.container-custom
    h2 Place Order
    .card
      .card-body.bg-light
        form#order-form(action='/api/orders')
          .form-group.row
            label.col-form-label.col-md-1(for='user-select') User
            .col-md-4
              select#user-select.form-control(name='user')
                option(disabled, selected) Choose a user
          .form-group.row
            label.col-form-label.col-md-1(for='zone-select') Zone
            .col-md-4
              select#zone-select.form-control(name='zone')
                option(disabled, selected) Choose a zone
          .form-group
            label(for='items-card') Items
            #items-card.card
              .card-body
          button.btn.btn-primary(type='submit') Submit
  script(src='/javascripts/placeOrder.js')
